DEBUG=no
# Chingu Test Discord server
GUILD_ID=823298295995611128
# Chingu Production Discord server
#GUILD_ID=823298295995623189
VOYAGE=99
TEAMS=/Users/jim/Development/uhurubot/config/v32_teams_users.json
#POSTS=/Users/jim/Development/uhurubot/config/v99_posts.json
DISCORD_TOKEN=ABCxODM9AipsNMOW9MDc4UTN0.URabcW.Zp3kdnB8kU5z0XhGDudtsOOOCOq